spring/src/main/resources/META-INF/spring/service.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://service.yzl.com/schema/service"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://service.yzl.com/schema/service">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>

    <!-- 定义 User 类型（复杂类型） -->
   <xsd:complexType name="User" >
      <xsd:attribute name="id" type="xsd:long"/>
      <xsd:attribute name="name" type="xsd:string"/>
      <xsd:attribute name="age" type="xsd:integer"/>
   </xsd:complexType>


    <!-- 定义 user 元素 -->
    <xsd:element name="user" type="User">

    </xsd:element>
</xsd:schema>